.jumbotron {
    background-color: #e3e3e3;
    padding: 3rem 1rem;
    margin-bottom: 2rem;
}

.nav-link{
    color: lightgray;
    font-weight: 600;
}

.card-img-top {
    object-fit: cover;
}

.container {
    max-width: 1200px;
    padding: 0px 100px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}
